.phrase {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: monospace;
  font-weight: 600;
  outline: none;
}

span {
  padding: 5px;
}

.start {
  color: black;
  border-bottom: solid;
}

.true {
  color: green;
}

.false {
  color: red;

  /* background-color: rgb(255, 211, 211); */
  border-bottom: solid red;
}
