#phrase-string {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: monospace;
  font-weight: 600;
  outline: none;
}

span {
  padding: 5px;
}

.current {
  color: black;
  text-decoration: underline;
  text-underline-position: under;
}

.green {
  color: green;
}

.red {
  color: red;
}
