body {
  max-width: 800px;
  font-family: 'Karla', sans-serif;
  font-style: normal;
}

#container {
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  text-align: center;
}

.column-full {
  width: 55%;
}

h1 {
  font-weight: 600;
  letter-spacing: 2px;
}

p {
  color: gray;
  font-size: 10px;
  line-height: 15px;
}
